input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],

input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

h1,
h2 {
  font-family: Lato;
}

img {
  touch-action: manipulation;
}

#title {
  margin-left: 20px;
  display: block;
  width:600pt;
}

#selectBalls {
  width: 260pt;
  height: 250pt;
  border: 4px solid black;

  /* margin: 0 auto;
  margin-top: 20px;*/
  position: absolute;
  top: 140pt;
  left: 40pt;

  border-radius: 20px;
}

#selectBalls label {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  display: block;
  font-size: 30pt;
  width: 100pt;
  border: 0;
  text-align: center;
}

#foot {
  display: block;
  position: absolute;
  top: 220pt;
  left: 430pt;
  z-index: 5;
}

#displayBalls {
  width: 220pt;
  height: 282pt;
  border: 0px solid black;

  /*margin: 0 auto;
  margin-top: 20px;*/
  position: absolute;
  top: 110pt;
  left: 510pt;

  background-image: url('https://cdn.jsdelivr.net/gh/benongithub/secret-color-app@master/sack-transparent.png');
  background-repeat: no-repeat;
  background-size: 220pt;
}

#drawBalls {
  width: 150pt;
  height: 150pt;
  border: 0px solid black;

  position: absolute;
  top: 170pt;
  left: 340pt;
}


#drawBall {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 120pt;
}

#drawnBall {
  width: 40pt;
  height: 40pt;
  border: 0px solid black;

  margin: 0 auto;
  margin-top: 20px;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 40pt;
}

.spinAnimation {
  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: 10;
  animation-timing-function: linear;
}

@keyframes spin {
  /*from {
    transform: translate(10px, 0px);
  }
  to {
    transform: translate(-10px, 0px);
  }*/
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#moreBlue, #lessBlue, #moreRed, #lessRed {
  width: 90pt;
}

#lessBlue, #moreBlue, #blueSelector {
  position: absolute;
  right: 50pt;
}

#moreBlue {
  top: 50pt;
}

#blueSelector {
  top: 100pt;
  right: 45pt;
}

#redSelector {
  margin-left: 0pt;
}
#lessRed {
  margin-left: 5pt
}

.displayBall {
  width: 40pt;
  height: 40pt;

  position: absolute;

  background-image: none;
  background-repeat: no-repeat;
  background-size: 40pt;
}

#message {
  position: absolute;
  top: 15px;
  left: 620pt;
  display: block;
  width: 80px;
  height: 100px;
  border: 0px solid black;

  /* background-image: url("https://cdn.jsdelivr.net/gh/benongithub/secret-color-app@master/ear.png");
  background-repeat: no-repeat;
  background-size: 50pt;*/
}

#your-solution {
  width: 180pt;
  margin-top: 10px;
}

#check-solution {
  width: 120pt;
  position: absolute;
  bottom: 5pt;
  left: 50pt;
  border: 2px solid black;
  border-radius: 10px;
}